In [13]:
SELECT Szoba_ID,
DENSE_RANK() OVER(PARTITION BY SZOBA_ID ORDER BY COUNT(*))
FROM Szoba INNER JOIN Foglalas ON Foglalas.SZOBA_FK=Szoba.SZOBA_ID

: Msg 8120, Level 16, State 1, Line 1
Column 'Szoba.SZOBA_ID' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

In [18]:
SELECT szallashely.SZALLAS_NEV, SUM(Foglalas.FELNOTT_SZAM+GYERMEK_SZAM)
FROM szallashely INNER JOIN Szoba ON szallashely.SZALLAS_ID = szoba.SZALLAS_FK
INNER JOIN Foglalas ON Foglalas.SZOBA_FK = Szoba.SZOBA_ID
GROUP BY szallashely.SZALLAS_NEV
HAVING SUM(Foglalas.FELNOTT_SZAM+GYERMEK_SZAM) = (SELECT MIN(SUM(Foglalas.FELNOTT_SZAM+GYERMEK_SZAM))
                                                    FROM szallashely INNER JOIN Szoba ON szallashely.SZALLAS_ID = szoba.SZALLAS_FK
                                                    INNER JOIN Foglalas ON Foglalas.SZOBA_FK = Szoba.SZOBA_ID
                                                    GROUP BY szallashely.SZALLAS_NEV)

: Msg 130, Level 15, State 1, Line 5
Cannot perform an aggregate function on an expression containing an aggregate or a subquery.